// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$interestBlue: #303955;
$interestPurp: #232b41;
$jam: #485274;
$lightSky: #e5e8ee;
$grass: #75f581;
$grape: #7b8092;
