.info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    .likedContainer {
        display: flex;
    }
}

.welcomeSection {
    display: flex;
    align-items: center;
    background-color: $interestBlue;
    border-radius: 5px;
    margin-bottom: 4px;
    gap: 1rem;
    padding: 0.5rem;

    .postInfoContainer {
        display: flex;
        flex-direction: column;
        flex: 2;

        .titleContainer {
            font-size: 22px;
        }

        .postDescContainer {
            font-size: 14px;
            display: flex;
            p {
                margin-right: 2rem;
            }
        }
    }
}

.commentBtn {
    border-radius: 5px;
    background-color: $interestBlue;
    padding: 0.7rem 1.1rem;
    border: none;
    width: 150px;
    color: $lightSky;
    transition: 0.2s ease;

    &:hover {
        background-color: $interestPurp;
    }
}
