// .createPostContainer {
//     margi
// }

.createPost {
    h2 {
        margin-bottom: 2rem;
    }

    .submit {
        button {
            width: 100%;
            max-width: 414px;
            font-size: 22px;
            padding: 0.2rem;
        }
    }

    .errorMsg {
        color: whitesmoke;
        margin: 0.2rem 0;
    }

    @media screen and (min-width: 1024px) {
    }
}
