* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $jam;
    color: $lightSky;
    font-family: "Nunito", sans-serif;
}

a {
    color: $lightSky;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

i {
    color: $lightSky;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: $interestBlue;
    align-items: center;
    color: white;

    .logo {
        font-size: 22px;
        font-weight: bold;
    }

    .posts {
        ul {
            display: flex;
            list-style: none;
            gap: 1rem;
        }
    }

    .registerNav {
        list-style: none;
        display: flex;
        gap: 1rem;

        a {
            padding: 0.5rem;
        }

        .userContainer {
            display: flex;
            align-items: center;
        }

        .separator {
            height: 15px;
            width: 2px;
            background-color: white;
        }
    }
}

.field {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
        margin-bottom: 0.3rem;
    }

    input,
    textarea {
        border-radius: 5px;
        border: none;
        padding: 0.4rem;
    }

    input {
        height: 40px;
    }
}

.content {
    padding: 1rem;
    max-width: 1040px;
    margin: 0 auto;
}

.likesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}

.fa-trash {
    cursor: pointer;
    &:hover {
        scale: 1.15;
    }
}

.submitBtn {
    border: none;
    background-color: transparent;
    width: 100%;
}

.commentBtn {
    border-radius: 5px;
    background-color: $interestBlue;
    padding: 0.7rem 1.1rem;
    border: none;
    width: 150px;
    color: $lightSky;
    transition: 0.2s ease;

    &:hover {
        background-color: $interestPurp;
    }
}

.banner {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}
