@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #7460c5;
}

.createPost {
  max-width: 1040px;
  margin: 0 auto;
  background-color: #767373;
  padding: 1rem;
}

.createPost h2 {
  margin-bottom: 2rem;
}

.createPost .field {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.createPost .field label {
  margin-bottom: 0.3rem;
}

.createPost .field input,
.createPost .field textarea {
  border-radius: 5px;
  border: none;
  padding: 0.4rem;
}

.createPost .field input {
  height: 40px;
}

.createPost .submit button {
  width: 100%;
  max-width: 414px;
  font-size: 22px;
  padding: 0.2rem;
}

.createPost .errorMsg {
  color: whitesmoke;
  margin: 0.2rem 0;
}

