@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #7460c5;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

nav .logo {
  font-size: 22px;
  font-weight: bold;
}

nav .registerNav {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav .registerNav a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}

nav .registerNav a:hover {
  text-decoration: underline;
}

nav .registerNav .userContainer {
  display: flex;
  align-items: center;
}

nav .registerNav .separator {
  height: 15px;
  width: 2px;
  background-color: black;
}

.createPost {
  max-width: 1040px;
  margin: 0 auto;
  background-color: #767373;
  padding: 1rem;
}

.createPost h2 {
  margin-bottom: 2rem;
}

.createPost .field {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.createPost .field label {
  margin-bottom: 0.3rem;
}

.createPost .field input,
.createPost .field textarea {
  border-radius: 5px;
  border: none;
  padding: 0.4rem;
}

.createPost .field input {
  height: 40px;
}

.createPost .submit button {
  width: 100%;
  max-width: 414px;
  font-size: 22px;
  padding: 0.2rem;
}

.createPost .errorMsg {
  color: whitesmoke;
  margin: 0.2rem 0;
}

