@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #485274;
  color: #e5e8ee;
  font-family: "Nunito", sans-serif;
}

a {
  color: #e5e8ee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #303955;
  align-items: center;
  color: white;
}

nav .logo {
  font-size: 22px;
  font-weight: bold;
}

nav .registerNav {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav .registerNav a {
  padding: 0.5rem;
}

nav .registerNav .userContainer {
  display: flex;
  align-items: center;
}

nav .registerNav .separator {
  height: 15px;
  width: 2px;
  background-color: white;
}

.field {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field label {
  margin-bottom: 0.3rem;
}

.field input,
.field textarea {
  border-radius: 5px;
  border: none;
  padding: 0.4rem;
}

.field input {
  height: 40px;
}

.content {
  padding: 1rem;
  max-width: 1040px;
  margin: 0 auto;
}

.likesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.fa-trash {
  cursor: pointer;
}

.fa-trash:hover {
  scale: 1.15;
}

.createPost h2 {
  margin-bottom: 2rem;
}

.createPost .submit button {
  width: 100%;
  max-width: 414px;
  font-size: 22px;
  padding: 0.2rem;
}

.createPost .errorMsg {
  color: whitesmoke;
  margin: 0.2rem 0;
}

.specificPostContainer .postContainer {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  margin-bottom: 1rem;
}

.specificPostContainer .postContainer .likesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.specificPostContainer .postContainer h2 {
  font-size: 26px;
}

.specificPostContainer .postContainer h2 a {
  color: #75f581;
}

@media screen and (min-width: 768px) {
  .specificPostContainer .postContainer h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 968) {
  .specificPostContainer .postContainer h2 {
    font-size: 50px;
  }
}

.specificPostContainer .postContainer .infoContainer {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
}

.specificPostContainer .postContainer .infoContainer p {
  margin-right: 1.5rem;
}

.specificPostContainer .postContainer .infoContainer a {
  margin-right: 1.2rem;
}

.specificPostContainer .postContainer .infoContainer a:hover {
  scale: 1.15;
  cursor: pointer;
}

.specificPostContainer .commentInfoContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.specificPostContainer .field {
  width: 100%;
}

.specificPostContainer .field .commentArea {
  margin-bottom: 1rem;
  width: 100%;
  height: 150px;
}

.specificPostContainer .field .commentBtn {
  border-radius: 5px;
  background-color: #303955;
  padding: 0.7rem 1.1rem;
  border: none;
  width: 150px;
  color: #e5e8ee;
  transition: 0.2s ease;
}

.specificPostContainer .field .commentBtn:hover {
  background-color: #232b41;
}

.specificPostContainer .separator {
  width: 100%;
  height: 1px;
  background-color: #7b8092;
  margin: 1.7rem 0;
}

.specificPostContainer .commentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-bottom: 2rem;
}

.specificPostContainer .commentContainer .likesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specificPostContainer .commentContainer .comment .commentInfoContainer {
  margin: 0 1.5rem 0 0;
}

.specificPostContainer .commentContainer .comment .commentInfoContainer p,
.specificPostContainer .commentContainer .comment .commentInfoContainer i {
  margin-right: 0.7rem;
}

.settings h2 {
  margin-bottom: 0.5rem;
}

.settings .separator {
  width: 100%;
  margin: 0 auto;
  height: 2px;
  background-color: #7b8092;
  margin-bottom: 1rem;
}

.settings .profileContainer {
  margin-bottom: 1rem;
}

.settings .profileContainer .avatar {
  width: 145px;
  height: 145px;
  border-radius: 10px;
  background-color: #aaa;
  margin: 0.5rem 0;
}

.settings form .avatarInputContainer {
  margin-bottom: 1rem;
}

.settings .avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.welcomeSection {
  display: flex;
  background-color: #303955;
  border-radius: 5px;
  margin-bottom: 4px;
  gap: 1rem;
  padding: 0.5rem;
}

.welcomeSection .postInfoContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.welcomeSection .postInfoContainer .titleContainer {
  font-size: 22px;
}

.welcomeSection .postInfoContainer .postDescContainer {
  font-size: 14px;
  display: flex;
}

.welcomeSection .postInfoContainer .postDescContainer p {
  margin-right: 2rem;
}

